.weekday-weather {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-right: rgb(214, 209, 209) solid 1px;
  border-bottom: rgb(214, 209, 209) solid 1px;
}

.weekday-weather > * {
  margin: 0.4rem 0;
}