.daily-weather-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  padding: 2rem;
}

.date-location-details {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  color: rgb(139, 138, 138);  
  font-size: 0.9rem;
}

.temperature-weather-condition-details {
  margin-top: 2rem;
}

.temperature-weather-condition-details > * {
  margin: 0;
}